body{
	#background:url('https://i.makeagif.com/media/6-21-2015/oiaVvf.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
.span1{
	#display:block;
	-webkit-transform:rotate(-20deg);
	border: 27px dotted #0f9123;
	background-color:#e347a0;
}
.span1:hover{
	-webkit-transform:rotate(45deg);
	border: 27px dashed #9e9321;
	background-color:#9142a2;
	background:url('http://files.gamebanana.com/img/ico/sprays/596f387a79956.gif');
}
.span2{
	display:inline-block;
	margin:auto;
	border: 31px dashed #0f9123;
	background-color:#f000ff;
	-webkit-transform:rotate(23deg);
}
.span2:hover{
	border: 31px dotted #ff9129;
	background-color:#fe91ff;
	-webkit-transform:rotate(-43deg);
}
#ppp{
	float:right;
		background:url('http://files.gamebanana.com/img/ico/sprays/596f387a79956.gif');
}
.span3{
	display:inline-block;
	margin:auto;
	border: 31px dashed #ff9123;
	background-color:#f000ff;
	-webkit-transform:rotate(23deg);
}
.span3:hover{
	border: 31px dashed #ef5921;
	background-color:#f0f0ff;
	-webkit-transform:rotate(-29deg);
	background:url('http://files.gamebanana.com/img/ico/sprays/596f387a79956.gif');
}
.span4{
	font-family:verdana;
}
/* table.nota */
table, th, td {

    border: 13px dashed #ff9123;
	border-collapse: colapse;
	background-color: #fa1cd8;
}
th{
	height:40px;
}
tr:hover{
	-webkit-transform:rotate(35deg);
	border: 27px dashed #9e9321;
	background-color:#1ff2a1;
	background:url('http://files.gamebanana.com/img/ico/sprays/596f387a79956.gif');
}
#furm{
	margin: auto;
	background:url('http://stream1.gifsoup.com/view4/4572759/pai-de-familia-o.gif');
	width:33%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius:1000px;
}
@keyframes example {
    from {background: url('http://i.imgur.com/BsjDIrW.gif');}
    to {background: url('http://i1.kym-cdn.com/photos/images/masonry/000/500/800/a3b.gif');}
}
.pau {
    width: 500px;
    height: 500px;
    animation-name: example;
    animation-duration: 6s;
	border-radius:1000px;
	animation-iteration-count: infinite;
}