body{
	background-color: #4B4D65;
	font-family: Verdana, Arial
}
.perguntas{
	width: 70%;
	background-color: #f9f9f9;
	margin: auto;
	border-radius: 10px;
	padding: 10px
}
.Certo{
	background-color: #00ff00
}
.Errado{
	background-color: #ff0000
}
.error{
	color: #ff0000;
	text-decoration: underline
}