form{	
    display: table;
    margin-left: auto;
    margin-right: auto; 
}

div{
	margin-top: 5px;
	margin-bottom: 5px;
}

.flex{
	display: flex;
}

.flex input{
	flex-grow: 1;
}

.flex select{
	flex-grow: 1;
}

.left{
	float: left;
}

.right{
	float: right;
}