body{
  background-color: #e8e8e8;
}
h1{
	display: table;
	color: #ff0000;
	border-left: 3px double #909090;
	border-right: 3px double #909090;
	border-bottom: 3px dashed #909090; 
}
h2{
	padding-left: 100px;
	margin-bottom: 30px;
	color: #00ff00;
	background-color: #0000ff;
	border: 7px dotted #ff0000;
}
ol{
	display: table;
	color: #8978ee;
	padding-left: 20px;
	border: 5px dashed #891234;
	border-top: 14px solid #ee9731;
}
header{
	color: #ffffff;
	background-color: #871246;
	border: 15px double #814267;
}
header p{
	color: #098908;
	border: 10px dashed #ffffff;
}
h3{
	border-bottom: 8px solid #124455;
	font-family: Arial;
	font-size: 32px;
	
}
h4{

}
ul{
	display: table;
	padding: 118px;
	margin: 2px;
	border: 19px dotted #124819;
	list-style-type: square;
	list-style-image: url(https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fyt3.ggpht.com%2F-4hbu_vQ_X54%2FAAAAAAAAAAI%2FAAAAAAAAAAA%2FqiI4sIUA9S4%2Fs48-c-k-no-mo-rj-c0xffffff%2Fphoto.jpg&sp=618c2c61bc7c84bb90f5ac0bb1cd57b9);
}
ul li{
	margin: 20px;
}