body {
  background-color: rgb(200, 240, 255);
}
h1 {
  border-bottom: 4px double #000000;
}
h2 {
  margin-left: 20px;
  border: 4px solid #FF0000;
  background-color: #FF6868;
  padding: 5px;
}
em {
  border-left: 2px dotted #FF0000;
  border-right: 2px dotted #FF0000;
  padding-left: 2px;
  padding-right: 2px;
}
strong {
  border-top: 2px dotted #FF0000;
  border-bottom: 2px dotted #FF0000;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: none;
  padding-left: 0;
}
