body{
    background-color: rgb(200,240,255);
}
h1{
    border-bottom: double 4px black;
}
h2{
    margin-left: 20px;
    border: solid 4px red;
    background-color: #FF6868;
    padding: 5px;
}
em{
    border:dotted red ;
    border-width:0px 2px 0px 2px;
    padding: 0px 2px 0px 2px;
}
strong{
    border:dotted red ;
    border-width:2px 0px 2px 0px;
    padding: 0px 20px 0px 20px;
}
ul {
    list-style-type: square;
}
ol {
   list-style-type: none;
   padding-left: 0px;
}
