p{
    width: 100px;
    border: 1px solid black;
}
section, footer{
    border: 1px solid red;
}
footer{
    margin:40px 200px 0px 200px;
}
#primeiro{
    color: blue;
}
#segundo{
    color: red;
}
#terceiro{
    color: green;
}
#quarto{
    color: orange;
}
#primeiro, #segundo, #terceiro, #quarto{
    background-color: lightgray;
}

#quinto, #sexto{
    background-color: lightblue;
}

.b{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 200px;
}
.a{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: 300px;
}
#quinto{
    position:absolute;
    left:0px;
    top:0px;
    margin-top: 0px;
}
#sexto {
    position:absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
}
#primeiro {
    margin-left:50px;
    margin-bottom: 0px;
}
#segundo {
    position: inherit;
    bottom: 0px;
    margin-bottom: 0px;
}
